@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	background: linear-gradient(-40deg,rgb(33, 222, 68), #1cd679, #1ad1aa, #1c89bc);
	background-size:600% 600%;
	animation: gradient 10s ease infinite;
	height: wrap;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
